 h1,h2,p {
            text-align: center;
        }
        h1,h2{
            font-family: Impact,serif;
        }
body{
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
font-family: sans-serif;
padding: 20px;
}
.menu{
    background-color: burlywood;
    padding: 20px;
    width: 80%;
    margin: auto;
    max-width: 500px;
}
.flavor,.dessert{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}
.item p{
    display: inline-block;
    margin-top: 5px;
   margin-bottom: 5px;
   font-size: 18px;
}
.established{
    font-style: italic;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
hr{
    height: 3px;
    background-color: brown;
    border-color: brown;
    height: 2px;
}
.bottom-line{
    margin-top: 25px;
}
/* FOOTER */
footer{
    font-size: 14px;
}
a{
    color: black;
}